[package]
name = "utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
secp256k1 = { version = "0.25.0", features = ["rand", "bitcoin-hashes"] }
sha256 = "1.0.2"
chrono = "0.4.23"
